$blue-dart: #29567A;
$blue: #82A8D9;
$blue-light: #A0BED9;

$gray-dark: #556573;
$gray: #EBEFF2;

$white: #F9F9F9;
$black: #0D0D0D;


$rect-background-color: $blue-light;
$rect-background-color-inverted: $white;
$rect-border-color: $blue;

$drawer-background-color: $blue;
$drawer-color: $white;


$background-color: $white;
$background-color-inverted: $blue-light;
$background-color-primary: $blue-light;


$font-color: $black;
$font-color-invert: $white;
$primary-color: $blue;

$z-index-aside: 1000;


$box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.68);
$box-shadow-min: 0px 0px 20px 0px rgba(0,0,0,0.68);

$button-background: $blue;
$button-border-color: $gray;
$button-color: $gray;

$button-border--hover: $gray-dark;
$button-color--hover: $gray-dark;

$button-background--disabled: $gray;
$button-border--disabled: $gray-dark;
$button-color--disabled: $gray-dark;

$transition-all: 0.3s all ease;

$toggle-panel-button: $blue;
$toggle-panel-button--toggled: $blue-light;
$toggle-panel-child--toggled: $blue;

$input-color: $white;
$input-border-color: $white;
$input-border-color--active: $blue-dart;
$input-background-color: transparent;
